{% extends 'home.html' %}

{% block header %}
<h1>Add a Pet</h1>
{% endblock %}

{% block content %}

  <form method="POST">
    {{ form.hidden_tag() }}
    {% include "form.html" %}
    <div class="form-group mb-3 row justify-content-center">
      <div class="col-sm-4">
        <button class="btn btn-primary w-100" type="submit">Add</button>
      </div>
    </div>

    <div class="form-group mb-3 row justify-content-center">
      <div class="col-sm-4">
        <a class="btn btn-secondary w-100" href="{{ url_for('show_list_pets') }}">Back to List</a>
      </div>
    </div>

  </form>
  
{% endblock %}